@use "styles/mixins" as m;
@use "styles/text-mixins" as t;

.overlay {
  position: fixed;
  display: block;
  inset: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(#ffffff, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1;
  transition: opacity var(--trans--300);

  &.active {
    opacity: 1;
    pointer-events: initial;
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 10;
  flex-shrink: 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2rem;
    width: 100%;
    background-color: var(--c-border-blue);
  }

  &__container {
    padding-top: 16rem;
    padding-bottom: 16rem;
    display: flex;
    align-items: center;

    @include m.vp--1023 {
      padding-top: 16rem;
      padding-bottom: 16rem;
    }

    @include m.vp--767 {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  &__logo {
    color: var(--c-primary-500);
    width: 48rem;
    height: 48rem;
    margin-right: auto;

    & svg {
      display: block;
      max-width: 100%;
      height: auto;
    }

    @include m.vp--767 {
      width: 40rem;
      height: 40rem;
    }
  }

  &__btn-menu {
    @include m.reset-btn;
    position: relative;
    width: 32rem;
    height: 32rem;
    margin-left: 24rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;

    @include m.vp--767 {
      display: flex;
    }

    & span {
      content: "";
      width: 30rem;
      height: 4rem;
      border-radius: 4rem;
      display: block;
      background-color: var(--c-primary-500);
      margin-bottom: 7rem;
      transition: var(--trans--300);

      &:last-child {
        margin-bottom: 0;
        width: 22rem;
        margin-left: 8rem;
        opacity: 0.3;
      }
    }

    &.active {
      & span {
        transform: rotate(-45deg);
        margin: 0;
        width: 30rem;

        &:last-child {
          transform: rotate(45deg);
          width: 30rem;
          margin: 0;
          margin-top: -4rem;
        }
      }
    }
  }
}
