@use "styles/mixins" as m;
@use "styles/text-mixins" as t;

.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 10;
  flex-shrink: 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--c-border-blue);
  }

  &__container {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;

    @include m.vp--1023 {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    @include m.vp--767 {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &__logo {
    color: var(--c-primary-500);
    width: 48px;
    height: 48px;
    margin-right: auto;

    & svg {
      display: block;
      max-width: 100%;
      height: auto;
    }

    @include m.vp--767 {
      width: 40px;
      height: 40px;
    }
  }

  &__btn-menu {
    @include m.reset-btn;
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 24px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;

    @include m.vp--767 {
      display: flex;
    }

    & span {
      content: "";
      width: 30px;
      height: 4px;
      border-radius: 4px;
      display: block;
      background-color: var(--c-primary-500);
      margin-bottom: 7px;
      transition: 0.2s;

      &:last-child {
        margin-bottom: 0;
        width: 22px;
        margin-left: 8px;
        opacity: 0.3;
      }
    }

    &.active {
      & span {
        transform: rotate(-45deg);
        margin: 0;
        width: 30px;

        &:last-child {
          transform: rotate(45deg);
          width: 30px;
          margin: 0;
          margin-top: -4px;
        }
      }
    }
  }
}
