@use "styles/mixins" as m;

.theme-switcher {
  @include m.reset-btn;
  position: relative;
  background-color: rgba(var(--c-rgb-primary-400), 0.4);
  border-radius: var(--border-radius);
  transition:
    background-color 0.2s,
    box-shadow 0.2s;

  &__toggle {
    width: 68rem;
    height: 34rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2rem solid var(--c-primary-500);
    border-radius: var(--border-radius);
    padding: 4rem;
    color: var(--c-dark-50);
    cursor: pointer;
    transition: border-color 0.2s;
    -webkit-tap-highlight-color: var(--c-transparent);
    -webkit-tap-highlight-color: transparent;

    @include m.vp--767 {
      width: 60rem;
      height: 30rem;
      padding: 2rem;
    }

    & svg {
      width: 24rem;
      height: 24rem;
      z-index: 1;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: var(--border-radius);
      left: 0;
      top: 0;
      height: 100%;
      width: 36rem;
      background-color: var(--c-primary-500);
      pointer-events: none;
      transition:
        transform 0.3s,
        background-color 0.2s;

      @include m.vp--767 {
        width: 32rem;
      }
    }
  }

  & input:checked + .theme-switcher__toggle::after {
    transform: translateX(32rem);

    @include m.vp--767 {
      transform: translateX(28rem);
    }
  }

  @media (min-width: 1024rem) {
    &:hover {
      .theme-switcher__toggle {
        border-color: var(--c-primary-600);

        &::after {
          background-color: var(--c-primary-600);
        }
      }
    }
  }
}

[data-theme="dark"] .theme-switcher {
  .theme-switcher__toggle::after {
    transform: translateX(32rem);

    @include m.vp--767 {
      transform: translateX(28rem);
    }
  }
}
