@use "styles/mixins" as m;

.theme-switcher {
  @include m.reset-btn;
  position: relative;
  background-color: rgba(var(--c-rgb-primary-400), 0.4);
  border-radius: var(--border-radius);
  transition:
    background-color 0.2s,
    box-shadow 0.2s;

  &__toggle {
    width: 68rem;
    height: 34rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2rem solid var(--c-primary-500);
    border-radius: var(--border-radius);
    padding: 4rem;
    color: var(--c-dark-50);
    cursor: pointer;
    transition: border-color var(--trans--300);
    -webkit-tap-highlight-color: var(--c-transparent);
    -webkit-tap-highlight-color: transparent;

    @include m.vp--767 {
      width: 60rem;
      height: 30rem;
      padding: 2rem;
    }

    & svg {
      width: 24rem;
      height: 24rem;
      z-index: 1;
      pointer-events: none;
    }
  }

  &__bg {
    position: absolute;
    border-radius: var(--border-radius);
    top: 0;
    left: 0;
    height: 100%;
    width: 36rem;
    background-color: var(--c-primary-500);
    pointer-events: none;
    animation: bgLight var(--trans--300);

    @include m.vp--767 {
      width: 32rem;
    }
  }

  @include m.hover {
    & .theme-switcher {
      &__toggle {
        border-color: var(--c-primary-600);
      }

      &__bg {
        background-color: var(--c-primary-600);
      }
    }
  }
}

[data-theme="dark"] .theme-switcher__bg {
  animation: bgDark var(--trans--300) forwards;
}

@keyframes bgDark {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% - 4rem));
  }
}

@keyframes bgLight {
  from {
    transform: translateX(calc(100% - 4rem));
  }
  to {
    transform: translateX(0);
  }
}
