@use "styles/mixins" as m;
@use "styles/text-mixins" as t;

.cards-work {
  @include m.reset-list;
  margin-top: 32rem;

  @include m.vp--1023 {
    margin-top: 24rem;
  }

  &__item {
    min-height: 400rem;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    --c-project-card: var(--c-dark-200);
    background-color: var(--c-project-card);
    box-shadow: var(--bs-card-portfolio);
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 32rem;
    }

    @include m.vp--1279 {
      min-height: 320rem;
    }

    @include m.vp--1023 {
      flex-direction: column;
    }

    @include m.vp--767 {
      padding: 0;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32rem 0 32rem 32rem;
    max-width: 454rem;

    @include m.vp--1023 {
      padding: 24rem;
      order: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      max-width: 100%;
      justify-content: space-between;
    }

    @include m.vp--767 {
      flex-direction: column;
      padding: 0;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      width: 100%;
      padding: 16rem;
      flex-grow: 1;
      background-color: var(--c-card-portfolio);
    }
  }

  &__info {
    width: 100%;
  }

  &__title {
    @include t.title-h3;
  }

  &__description {
    margin: 16rem 0 0;
    max-width: 340rem;
    color: var(--text-color-gray-light);
  }

  &__btn-block {
    margin-top: auto;
    flex-shrink: 0;

    @include m.vp--1279 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @include m.vp--1023 {
      align-items: flex-end;
    }

    @include m.vp--767 {
      width: 100%;
      margin-top: 40rem;
    }
  }

  &__link {
    @include m.vp--767 {
      width: 100%;
    }
  }

  &__container-img {
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__img-block {
    max-width: 700rem;

    @include m.vp--1279 {
      max-width: 680rem;
    }

    & img {
      width: 100%;
    }

    @include m.vp--1023 {
      width: 100%;
      max-width: 100%;
    }

    @include m.vp--767 {
      overflow: hidden;
      box-shadow: var(--bs-card);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      margin: 32rem 24rem 0;
      height: 250rem;
      max-width: 340rem;
      width: calc(100% - 48rem);
    }
  }

  &.tile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40rem 30rem;

    @include m.vp--1023 {
      grid-template-columns: repeat(2, 1fr);
    }

    & .cards-work {
      &__item {
        margin-top: 0;
        flex-direction: column;
      }

      &__container {
        order: 1;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        width: 100%;
        padding: 24rem;
        flex-grow: 1;
        background-color: var(--c-card-portfolio);

        @include m.vp--1023 {
          flex-direction: column;
        }
      }

      &__img-block {
        margin: 48rem 32rem 0;
        height: 300rem;
        overflow: hidden;
        box-shadow: var(--bs-card);
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        @include m.vp--1023 {
          width: auto;
        }
      }

      &__container-img {
        overflow: hidden;

        & img {
          object-fit: cover;
          width: 100%;
        }
      }

      &__title {
        font-size: 36rem;
        line-height: 1.2;

        @include m.vp--767 {
          font-size: 28rem;
        }
      }

      &__info {
        margin-bottom: auto;
      }

      &__btn-block {
        margin-top: 24rem;
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &__link {
        width: 100%;
        justify-content: center;
        order: 1;
        margin-right: 0;

        &:not(:first-child) {
          order: 0;
          margin-bottom: 12rem;

          color: var(--text-color);
          background-color: rgba(var(--rgb-c-primary-200), 0.3);

          @include m.hover {
            color: var(--color-dark-50);
            background-color: var(--c-primary-500);
          }
        }

        @include m.vp--1279 {
          &:not(:last-child) {
            margin-top: 0;
          }
        }
      }
    }
  }
}

[data-theme="dark"] .cards-work .cards-work__item {
  background-color: var(--c-dark-800);
}
