@use "styles/mixins" as m;
@use "styles/text-mixins" as t;

.promo {
  height: calc(100vh - 80rem);
  min-height: 650rem;
  max-height: 900rem;

  @include m.vp--1279 {
    min-height: 640rem;
    max-height: 700rem;
  }

  @include m.vp--767 {
    min-height: auto;
    max-height: 100%;
    height: auto;
  }

  &__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80rem;
    padding-bottom: 200rem;
    gap: 40rem;

    @include m.vp--1023 {
      justify-content: flex-start;
      padding-top: 60rem;
      padding-bottom: 60rem;
    }

    @include m.vp--767 {
      gap: 31rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__text {
    @include t.title-h3;

    & span {
      color: var(--c-primary-500);
    }
  }

  &__title {
    @include t.title-h1;
  }

  &__img-block {
    position: absolute;
    right: 0;
    display: flex;
    bottom: 100rem;
    width: 770rem;
    height: 390rem;
    color: var(--bg-color-footer);

    & svg {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include m.vp--1279 {
      width: 650rem;
      height: 330rem;
    }

    @include m.vp--1023 {
      bottom: 65rem;
    }

    @include m.vp--767 {
      position: relative;
      bottom: 0;
      width: 100%;
      margin-top: 16rem;
      height: auto;
    }
  }

  &__button {
    @include m.vp--767 {
      width: 100%;
    }
  }
}
