@use "styles/mixins" as m;

.container {
  width: 100%;
  max-width: 1282rem;
  margin: 0 auto;
  padding-right: 32rem;
  padding-left: 32rem;

  @include m.vp--1023 {
    padding-right: 24rem;
    padding-left: 24rem;
  }

  @include m.vp--767 {
    padding-right: 16rem;
    padding-left: 16rem;
  }
}
