@use "styles/mixins" as m;

.navigation {
  display: flex;
  margin-right: 120rem;

  @include m.vp--1023 {
    margin-right: 70rem;
  }

  @include m.vp--767 {
    position: fixed;
    top: 64rem;
    height: calc(100vh - 64rem);
    background-color: var(--bg-color-footer);
    right: 0;
    padding: 50rem 24rem;
    margin-right: 0;
    transform: translateX(101%);
    transition: transform var(--trans--300);
    width: 100%;
    max-width: 300rem;

    &.active {
      transform: translateX(0);
    }
  }

  &__list {
    @include m.reset-list;
    display: flex;

    @include m.vp--767 {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
  }
}
