@use "styles/mixins" as m;
@use "styles/text-mixins" as t;

.social {
  @include m.reset-list;
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 8rem;
    }
  }

  &__link {
    width: 44rem;
    height: 44rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    border: 1rem solid var(--c-dark-200);
    transition: all var(--trans--300);
    color: var(--text-color-gray-light);

    & svg {
      width: 24rem;
      height: 24rem;
    }

    @include m.hover {
      --icon-bg-color: var(--c-dark-400);
      color: var(--c-white);
      background: var(--icon-bg-color);
    }
  }
}

[data-theme="dark"] .social {
  &__link {
    border-color: transparent;
    background-color: var(--c-dark-700);

    @include m.hover {
      background: var(--c-white);
      color: var(--icon-bg-color);

      & path {
        fill: url(#paint0_radial);
      }
    }
  }
}
